{% load otree static staticfiles otree_tags %}

{% block content %}
<table>
    <tr>
        <td style="width: 50%;">
            <div class="alert alert-info" style="height: 13em">
                <b> Jugador A </b><br><br>
                El jugador A recibe una dotación inicial de 20 ecus. <b>La decisión del jugador A es fijar una cantidad X,
                    entre 0
                    y 20 ecus, según sus preferencias, que desea enviar al jugador B.</b> <br><br>
            </div>
        </td>
        <td style="width: 50%;">
            <div class="alert alert-info" style="height: 13em">
                <b> Jugador B </b><br><br>
                <b>El jugador B debe esperar la decisión del jugador A.</b> Una vez el jugador A decide la cantidad X a enviar, el
                jugador B <b>recibe dos veces dicha cantidad (2X).</b> Por ejemplo, si el jugador A decide enviar 8 ecus, el
                jugador B recibe 16 ecus. <br><br>
            </div>
        </td>
    </tr>
</table>




Luego de recibir la cantidad de ecus correspondiente, <b>la decisión del jugador B consiste en fijar una
    cantidad Y, entre 0 y 2X, que desea devolver al jugador A.</b>
<hr>
<h3>Pagos</h3><br>

<table>
    <tr>
        <td style="width: 50%;">
            <div class="alert alert-info" style="height: 7em">
                <b>Jugador A:</b> El pago del jugador A corresponde a la dotación inicial, menos la cantidad que envía al
                jugador B, y más la cantidad que él le devuelve (20-X+Y ecus).
            </div>
        </td>
        <td style="width: 50%;">
            <div class="alert alert-info" style="height: 7em">
                <b>Jugador B:</b> El pago del jugador B corresponde al envío del jugador A multiplicado por dos, menos lo
                que decide devolverle (2X – Y ecus).
            </div>
        </td>
    </tr>
</table>
{% endblock %}
