{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Tarea 3
{% endblock %}

{% block content %}

    <table class="table table-bordered text-justify" style="width: 50%;">
        <tbody>
            <tr>
                <td class="table-active">Usted es el participante</td>
                <td> <strong>B</strong></td>
            </tr>
            <tr>
                <td class="table-active">El participante A le envió:</td>
                <td>{{group.sent_amount}} puntos</td>
            </tr>
            <tr>
                <td class="table-active">Usted recibe:</td>
                <td>{{ tripled_amount }} puntos</td>
            </tr>
        </tbody>
    </table>

    <p>¿Cuánto desea devolver?</p>

    <div class="slider">
        <input type="range" min="0" max="{{ tripled_amount }}" value="0" class="bar-slider" name="sent_back_amount" oninput="rangeValue.innerText = this.value">
        <p id="rangeValue">0</p>
    </div>

    {{ form.sent_back_amount.errors }}

{% next_button %}

{% endblock %}


{% block styles %}

<style>
    .bar-slider {
        width: 30%;
    }
    .slider {
        width: 50%;
        height: 60px;
        padding: 30px;
        padding-left: 40px;
        background: #fcfcfc;
        border-radius: 20px;
        display: flex;
        align-items: center;
        box-shadow: 0px 5px 10px #7E6D5766;
        margin-bottom: 25px;
    }
    .slider p {
        font-size: 26px;
        font-weight: 600;
        padding-left: 30px;
        color: rgb(0, 30, 255);
        padding-top: 10px;
    }
    .slider input[type="range"] {
        -webkit-appearance:none !important;
        width: 420px;
        height: 2px;
        background: black;
        border: none;
        outline: none;
    }
    .slider input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        width: 30px;
        height:30px;
        background: black;
        border: 2px solid black;
        border-radius: 50%;
        cursor: pointer;
    }
    .slider input[type="range"]::-webkit-slider-thumb:hover {
        background: black;
    }
</style>

{% endblock %}
