{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Asignación de rol y valor
{% endblock %}

{% block content %}
<h4>Ronda {{ronda}} de {{ Constants.num_rounds }}</h4>
<div>
    <p>
        Usted ha sido asignado con el rol de: <b style="text-transform: uppercase ;">{{ player.role }}</b>
    </p>
</div>
<hr>
<div class="container-fluid">
    <div>
        <div align='center' style="margin-bottom: 2em;">
            <div class="row" style="margin-top: 2em;">
                <div class="col-sm-12">
                    <div class="card text-white bg-info mb-3" style="width: 60%;">
                        <div class="card-header" style="text-transform: uppercase;text-align: center;"><b>{{ player.role }}</b></div>
                        <div class="card-body" style="padding: 0%;">
                            <div class="col-sm-6" style="float: left;">
                                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                                    {% if player.role == 'vendedor' %}
                                    <div class="card-header" style="font-size: .91em;text-align: center;"><b>Costo de Producción</b></div>
                                    {% else %}
                                    <div class="card-header" style="font-size: .91em;text-align: center;"><b>Presupuesto (Valor asignado)</b></div>
                                    {% endif %}
                                    <div class="card-body">
                                        <h1 class="display-1 text-center">{{player.carta}}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="float: left;">
                                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                                    <div class="card-header" style="font-size: .91em;text-align: center;"><b>Tipo de comprador</b></div>
                                    <div class="card-body">
                                        <h1 class="display-1 text-center">{{player.tipo_valor}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <hr>
        <div>
            <p>
                La información de su rol y el valor asignado estará disponible durante las rondas de negociación. <br>
                A continuación, de clic en siguiente para pasar a la ronda de negociación.
            </p>
        </div>
        {% next_button %}
    </div>
</div>

{% endblock %}

{% block styles %}
<style>
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.mb-3, .my-3 {
    margin-bottom: 0rem!important;
}
.table td, .table th {
    padding-top: 1em;
    padding-bottom: 1em;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
</style>
{% endblock %}