{% load otree static staticfiles otree_tags %}
{% block content %}

<div>
    <div>
        <div>
            <div>
                <p>
                    Las ganancias en cada ronda se ejecutan de la siguiente manera:
                </p>
            </div>
            <div>
                <div class="alert alert-info" style="width: 100%;padding-right: 2em;height: 10em;">
                    <ul>

                        <li>Si ambas partes (comprador y vendedor) deciden <b>COMPLETAR</b> la transacción, entonces las
                            ganancias se calculan así:</li>

                        <div style="padding: 1em;">
                            <b>
                                GANANCIA DEL VENDEDOR = <span class="badge bg-primary" style="color: white;">P – COSTO DE PRODUCCION (valor asignado)</span> <br>
                                GANANCIA DEL COMPRADOR = <span class="badge bg-primary" style="color: white;">PRESUPUESTO (valor asignado) – P</span>
                            </b>
                        </div>
                </div>
                <div class="alert alert-info" style="width: 100%;padding-right: 2em;height: 14em;">
                    <li>Si el vendedor decide RENEGAR y el comprador decide COMPLETAR, entonces:</li>

                    <div>
                        <ul style="list-style-type: circle;">
                            <li>El vendedor NO produce NI entrega el producto</li>
                            <li>El comprador PAGA el precio P, pero no recibe el producto.</li>
                        </ul>
                        por lo tanto , las ganancias se calculan así:
                        <div style="padding: 1em;">
                            <b>
                                GANANCIA DEL VENDEDOR = <span class="badge bg-primary" style="color: white;">P</span> <br>
                                GANANCIA DEL COMPRADOR = <span class="badge bg-primary" style="color: white;">– P</span>
                            </b>
                        </div>
                    </div>
                </div>
                <div class="alert alert-info" style="width: 100%;padding-right: 2em;height: 12em;">
                    <li>Si el comprador decide RENEGAR y el vendedor decide COMPLETAR, entonces:</li>
                    <div>
                        <ul style="list-style-type: circle;">
                            <li>El vendedor PRODUCE y entrega el producto</li>
                            <li>El comprador NO PAGA el precio P, pero recibe el producto.</li>
                        </ul>

                        <div style="padding: 1em;">
                            <b>
                                GANANCIA (PERDIDA) DEL VENDEDOR = <span class="badge bg-primary" style="color: white;">– COSTO DE PRODUCCIÓN (valor asignado)</span> <br>
                                GANANCIA DEL COMPRADOR = <span class="badge bg-primary" style="color: white;">PRESUPUESTO (valor asignado)</span>
                            </b>
                        </div>
                    </div>
                </div>
                <div class="alert alert-info" style="width: 100%;padding-right: 2em;height: 10em;">
                    <li>Si ambas partes, comprador y vendedor, deciden RENEGAR, la transacción se cancela (no se
                        concreta) y ambos ganan 0 en esa ronda:</li>
                    <div style="padding: 1em;">
                        <b>
                            GANANCIA DEL VENDEDOR = <span class="badge bg-primary" style="color: white;">0</span> <br>
                            GANANCIA DEL COMPRADOR = <span class="badge bg-primary" style="color: white;">0</span>
                        </b>
                    </div>
                </div>
                </ul>
            </div>
        </div>
        <hr>
        <div>
            <p>
                Cada participante puede hacer solo una transacción por cada ronda de negociación. <br><br>

                Si un participante no concreta una transacción, no obtiene ningún beneficio en esa ronda; es decir, su
                valor (costo o presupuesto, según el rol) no se efectiviza. <br><br>

                La ganancia de cada participante será el resultado de elegir aleatoriamente una de las rondas de negociación de esta fase.
            </p>
        </div>
    </div>
</div>
{% endblock %}