{% extends "global/Page.html" %}
{% load otree static %}
{% block title %} INTRODUCCIÓN {% endblock %}

{% block content %}

<div class="card-body">
    <div class="card bg-light instructions" style="padding: 1em;text-align: justify; margin-bottom: 2em;">
        El experimento consta de TRES etapas. Las instrucciones específicas, decisiones e incentivos se detallan en cada
        una de ellas. <br><br>
        Si Usted tiene alguna duda durante el desarrollo del experimento POR FAVOR LEVANTE LA MANO y el encargado de la
        sesión se acercará a responderla. <br><br>
        A continuación, de clic en SIGUIENTE para empezar con la etapa 1 del experimento. <br>

    </p>
</div>

{% next_button %}
{% endblock %}
