{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Resultados de la etapa de entrenamiento
{% endblock %}

{% block content %}

    <div align='center'>
        <table class="table table-bordered text-center" style="width: 60%; margin: 4em;">
            <tbody>
                <tr style="font-size: 1.2em;">
                    <td style="text-align: justify;" class="table-active">Su ganancia en la <b>FASE 1</b> es:</td>
                    <td style="text-align: right;"><b>{{ganancia_total_seccion1|floatformat:2}} puntos</b></td>
                </tr>
                <tr style="font-size: 1.2em;">
                    <td style="text-align: justify;" class="table-active">Su ganancia en la <b>FASE 2</b> es:</td>
                    <td style="text-align: right;"><b>{{ganancia_total_seccion2|floatformat:2}} puntos</b></td>
                </tr>
                <tr style="text-align: justify;font-size: 1.2em;">
                    <td class="table-active">Su ganancia total es:</td>
                    <td style="text-align: right;"><b> {{ ganancia_total|floatformat:2 }} puntos</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <p style="font-size: 1.5em;">Estas ganancias no se incluyen en el pago final.</p>
    <br>
    {% next_button %}
{% endblock %}