{% load otree static staticfiles otree_tags %}

<div class="card bg-light instructions">
    <p align="justify">
        Gracias por participar en esta encuesta que forma parte de un estudio internacional. La encuesta tomará unos
        20 minutos.
        <br><br>
        Lea todas las preguntas cuidadosamente y tómese su tiempo para responder.
        <br><br>
        Se le pedirá que exprese sus opiniones sobre una serie de temas y que proporcione información sobre usted.
        Su participación en este estudio será confidencial y sus respuestas no se divulgarán de ninguna forma que
        permita identificarlo. Su participación en este estudio es completamente voluntaria, puede dejar preguntas
        sin responder si así lo desea.
        <br><br>
        Los investigadores están interesados en las opiniones de diferentes tipos de personas. No es necesario tener
        información específica sobre el tema para participar. Al dar su consentimiento, usted reconoce que puede
        desconocer la naturaleza y los propósitos de la investigación y acepta participar en esta condición.
        <br><br>
        Para continuar, por favor seleccione la opción “Sí” abajo.
        <br>
    </p>
</div>