{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

    <center>
        <div class="card" style="width: 35rem;">
            <div class="card-body">
            <h5 class="alert alert-warning"> ANTES DEL CUESTIONARIO</h5>
            <p class="card-text">Responda al siguiente cuestionario. <b>No hay respuestas correctas o incorrectas</b> sino las que usted decide describen mejor sus preferencias. <br> Las respuestas a este cuestionario no afectan ni tienen una consecuencia en las ganancias del experimento.</p>
            {% next_button %}
            </div>
        </div>
    </center>

{% endblock %}
